eli5==0.11.0
Flask==2.0.2
Flask_Bcrypt==0.7.1
Flask_RESTful==0.3.9
keras==2.7.0
numpy==1.21.2
pandas==1.3.4
pyvi==0.1.1
scikit_learn==1.0.2
spacy==3.0.7
tensorflow==2.7.0
tld==0.12.6
torch==1.10.1+cu113
tqdm==4.62.3
transformers==4.14.1